{% include base_path %}

{% assign sidebar_nav_key = nil %}
{% if page.sidebar and page.sidebar.nav %}{% assign sidebar_nav_key = page.sidebar.nav %}{% endif %}
{% if sidebar_nav_key == nil and page.series %}{% assign sidebar_nav_key = page.series %}{% endif %}
{% if sidebar_nav_key == nil and page.series_nav %}{% assign sidebar_nav_key = page.series_nav %}{% endif %}

{% assign show_sidebar = false %}
{% if page.author_profile or layout.author_profile or page.sidebar or sidebar_nav_key %}
  {% assign show_sidebar = true %}
{% endif %}

{% if show_sidebar %}
  <div class="sidebar sticky" data-sidebar-toggle="{% if page.sidebar_toggle == false %}false{% else %}true{% endif %}">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar and page.sidebar.first %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}

  {% if sidebar_nav_key %}
    {% include nav_list nav=sidebar_nav_key %}
  {% endif %}
  </div>
{% endif %}